h1{
       color: blue;
}


div{
       background-image: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red);
       -webkit-background-clip: text;
       color: transparent;
       font-size: 3rem;
       font-weight: bold;
}
         
         
body{
  background-color: light blue;
}
